/JavaApplication1/nbproject/private/
JavaApplication1/build.xml
JavaApplication1/manifest.mf
JavaApplication1/nbproject/build-impl.xml
JavaApplication1/nbproject/genfiles.properties
JavaApplication1/nbproject/project.properties
JavaApplication1/nbproject/project.xml
JavaApplication1/nbproject/*.class